.wrapper
  .chat-side
    .side-header
      %p tea
      %ul.user-menu
        %li.user-menu__edit-user 
          %a{ href: 'https://google.co.jp'}
            %i.fa.fa-edit
        %li.user-menu__new-group
          %a{ href: 'https://google.co.jp'}
            %i.fa.fa-cog
    .side-groups
      = render "group"
      = render "group"
      = render "group"
      = render "group"
      = render "group"
      = render "group"
      = render "group"
      = render "group"
      = render "group"
      = render "group"
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name TOKIO
        %ul.member-list
          Member : 
          %li.member-list__member 城島茂
          %li.member-list__member 長瀬智也
      %a.main-header__edit-btn{ href: 'https://google.co.jp'}
        Edit
        
        
    .messages
    .form
