.wrapper
  = render "chat_side"
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name TOKIO
        %ul.member-list
          Member : 
          %li.member-list__member 城島茂
          %li.member-list__member 長瀬智也
      = link_to 'Edit', 'https://google.co.jp', class: 'main-header__edit-btn'
        
    .messages
      =render @messages

    .form
      = form_for [@group, @message] do |f|
        .new-message
          .new-message__input-box
            = f.text_field :content, class: 'new-message__input-box__text-field', placeholder: 'type a message'
            = f.label :image, class: 'new-message__input-box__image-btn' do
              %i.fa.fa-image.fa-lg
                = f.file_field :image, class: "new-message__input-box__image-btn__hidden"
          = f.submit 'Send', class: 'new-message__submit-btn'
